title = "Website Name"
baseURL = "/"
disqusShortname = 'spectacular-pages-dev'
copyright = 'This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.'
languageCode = 'id'
disableKinds = ["taxonomy", "term"]

[permalinks]
  data = '/article/:sections[1:]/:slug'

[minify]
  minifyOutput = true

[author]
  name = 'Ayasy'

[params]
layout_type = "boxed"
style = "classic"
palette = "blue"
mode = "light"
base_font = "serif"
domain = "https://spectacular-1c297.netlify.app"
favicon = ""

  [params.header]
  type = "header"
  template = "header"
  title = "Home"
  logo = "/images/osia.png"
  logo_alt = "DIY logo"
  has_primary_nav = true
  has_secondary_nav = true
  has_anncmnt = true
  anncmnt_content = "Curabitur ac tellus mattis, tempor ipsum eu, eleifend sapien. **[Learn More](/pricing/)**"
  anncmnt_align = "left"
  anncmnt_is_home_only = true
  anncmnt_has_close = true
  anncmnt_id = "new-features"

    [[params.header.primary_nav_links]]
    type = "action"
    template = "action"
    label = "Events"
    url = "/events"
    style = "link"
    has_icon = false
    icon = ""
    icon_position = ""
    new_window = false
    no_follow = false

    [[params.header.primary_nav_links]]
    type = "action"
    template = "action"
    label = "Article"
    url = "/article"
    style = "link"
    has_icon = false
    icon = ""
    icon_position = ""
    new_window = false
    no_follow = false

    [[params.header.primary_nav_links]]
    type = "action"
    template = "action"
    label = "Gallery"
    url = "/gallery"
    style = "link"
    has_icon = false
    icon = ""
    icon_position = ""
    new_window = false
    no_follow = false

    [[params.header.primary_nav_links]]
    type = "action"
    template = "action"
    label = "Graviti"
    url = "/graviti"
    style = "link"
    has_icon = false
    icon = ""
    icon_position = ""
    new_window = false
    no_follow = false

    [[params.header.secondary_nav_links]]
    type = "action"
    template = "action"
    label = "About Us"
    url = "/about"
    style = "link"
    has_icon = false
    icon = ""
    icon_position = ""
    new_window = false
    no_follow = false

    [[params.header.secondary_nav_links]]
    style = "primary"
    label = "Donate"
    url = "#"
    has_icon = false
    icon = ""
    icon_position = ""
    new_window = false
    no_follow = false
    type = ""

  [params.footer]
  type = "footer"
  template = "footer"
  logo = "/images/osia.png"
  logo_alt = "DIY logo"
  has_primary_nav = true
  primary_nav_title = "Osia"
  has_secondary_nav = true
  secondary_nav_title = "Article"
  has_tertiary_nav = true
  tertiary_nav_title = "Us"
  has_social = false
  content = '&copy; Stackbit. All rights reserved. This Jamstack site was created with <a href="https://www.stackbit.com/?utm_source=deployed-footer" target="_blank" rel="noopener">Stackbit</a>. Create yours <a href="https://app.stackbit.com/create?theme=diy&utm_source=deployed-footer" target="_blank" rel="noopener">now</a>'
  links = [ ]

    [[params.footer.primary_nav_links]]
    type = "action"
    template = "action"
    label = "Events"
    url = "/events"
    style = "link"
    has_icon = false
    icon = ""
    icon_position = ""
    new_window = false
    no_follow = false

    [[params.footer.primary_nav_links]]
    type = "action"
    template = "action"
    label = "Gallery"
    url = "/gallery"
    style = "link"
    has_icon = false
    icon = ""
    icon_position = ""
    new_window = false
    no_follow = false

    [[params.footer.primary_nav_links]]
    type = "action"
    template = "action"
    label = "Graviti"
    url = "/graviti"
    style = "link"
    has_icon = false
    icon = ""
    icon_position = ""
    new_window = false
    no_follow = false

    [[params.footer.secondary_nav_links]]
    type = "action"
    template = "action"
    label = "Berita Acara"
    url = "/article/categories/berita-acara"
    style = "link"
    has_icon = false
    icon = ""
    icon_position = ""
    new_window = false
    no_follow = false

    [[params.footer.secondary_nav_links]]
    type = "action"
    template = "action"
    label = "Kata Ustadz"
    url = "/article/categories/kata-ustadz"
    style = "link"
    has_icon = false
    icon = ""
    icon_position = ""
    new_window = false
    no_follow = false

    [[params.footer.secondary_nav_links]]
    type = "action"
    template = "action"
    label = "Pena Santri"
    url = "/article/categories/pena-santri"
    style = "link"
    has_icon = false
    icon = ""
    icon_position = ""
    new_window = false
    no_follow = false

    [[params.footer.tertiary_nav_links]]
    type = "action"
    template = "action"
    label = "About Us"
    url = "/about"
    style = "link"
    has_icon = false
    icon = ""
    icon_position = ""
    new_window = false
    no_follow = false

[outputFormats.Algolia]
baseName = "algolia"
isPlainText = true
mediaType = "application/json"
notAlternative = true

[params.algolia]
vars = ["title", "summary", "date", "publishdate", "expirydate", "permalink"]
params = ["categories", "tags"]

[outputs]
home = ["HTML", "RSS", "Algolia"]

[taxonomies]
tag = "tags"
category = "categories"
author = "author"

[markup.goldmark.renderer]
unsafe = true
