{{ define "content"}}
{{$Site := .Site}}

<section class="section hero bg-secondary pt-6 pt-md-7 pb-6 pb-md-7">
    <div class="container">
        <div class="hero__content grid items-center">
            <div class="hero__body my-2 cell-12 text-center">
                <h1 class="hero__title">All {{ .Title | title }}</h1>
            </div>
        </div>
    </div>
</section>

<section class="section article-feed has-border bg-none pt-6 pt-md-7 pb-6 pb-md-7">
<div class="container" container-grid>
    {{ range $term := .Data.Pages }}
<div class="text-center">
<h2 class="section__title"><a href="{{ $term.URL | relURL }}" class="link">{{with $term.Params.title}}{{. | title}}{{else}}{{$term.Params.first_name}} {{$term.Params.last_name}}{{end}}</a></h2>
</div>
<div class="grid">
{{ range $post := (where .Site.RegularPages "Params.layout" "post") }}
    {{ $include_dict := dict "page" $post "Site" $Site }}
	{{if $post.Params.tags}}
    {{ range $tag := $post.Params.tags }}
	{{ $post_tag := ($Site.GetPage $tag).Page.Params }}
		{{ if eq $post_tag.id $term.Params.id }}
        {{partial "taxon_item" $include_dict }}
		{{ end }}
	{{ end }}
	{{ end }}
	{{if $post.Params.categories}}
    {{ range $category := $post.Params.categories }}
	{{ $post_category := ($Site.GetPage $category).Page.Params }}
		{{ if eq $post_category.id $term.Params.id }}
        {{partial "taxon_item" $include_dict }}
		{{ end }}
	{{ end }}
	{{ end }}
	{{if $post.Params.author}}
    {{ $author := ($Site.GetPage $post.Params.author).Page.Params }}
        {{ if eq $author.id $term.Params.id}}
        {{partial "taxon_item" $include_dict }}
        {{end}}
    {{end}}
{{ end }}
</div>
<br>
<br>
{{ end }}
</div>
</section>
<script>
	var element = document.querySelectorAll('[container-grid]');

	function myFunction(x) {
		if (x.matches) { // If media query matches
			for (i = 0; i < element.length; i++) { element[i].classList.add("container--medium"); }
		} else {
			for (i = 0; i < element.length; i++) { element[i].classList.remove("container--medium"); };
		}
	}
	var x = window.matchMedia("(max-width: 800px)");
	myFunction(x);
	x.addListener(myFunction);
</script>
{{end}}

