{{ $author := .author }}
{{$Site := .Site}}
{{ $container_class := .container_class }}
{{ $avatar_size := .avatar_size }}
<div class="{{ $container_class }}">
	{{ $author_data := ($Site.GetPage $author).Page }}
	<a class="flex items-center" href="{{ $author_data.URL | relURL }}">
		{{ if $author_data.Params.photo }}
		<figure class="avatar mr-1{{ if eq $avatar_size "small" }} avatar--small{{ end }}">
			<img class="avatar__img" src="{{ $author_data.Params.photo | relURL }}" alt="{{ $author_data.Params.photo_alt }}" />
		</figure>
		{{ end }}
		<span>{{ $author_data.Params.title }}</span>
	</a>
</div>
