<style>
  div#search-menu1
    {
        margin-bottom: 20px;
    }

    div#search-menu2
    {
        margin-left: 15px;
    }

    @media screen and (min-width: 801px){
        #titleMenu ,div#search-menu1{
        display: none
    }}

    @media screen and (max-width: 800px){
        div#search-menu2{
        display: none
    }}

    .search {
    position: relative;
    margin: 0 auto ;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 40%;
    }
    ::-moz-placeholder { /* Firefox 19+ */
    opacity: 40%;
    }
    :-ms-input-placeholder { /* IE 10+ */
    opacity: 40%;
    }
    :-moz-placeholder { /* Firefox 18- */
    opacity: 40%;
    }

    .search input {
    text-indent: 30px;
    border: 0px;
    font-family: FontAwesome, sans-serif;
    }

    .search input:hover {
    box-shadow: inset 0 0 0 1px rgba(192, 192, 192, 0.081);
    }
    
    .search .fa-search {
    position: absolute;
    z-index:100;
    opacity: 60%;
    top: 14px;
    left: 25px;
    font-size: 15px;
    }

    .search input:focus, .search input:active {
    outline: 0;
    box-shadow: inset 0 0 0 1px #2727271f;
    background: #FFFFFF;
    }

    .algolia-autocomplete {
        color: #161d25;
        width: 95%;
    }

    .algolia-autocomplete .aa-input,
    .algolia-autocomplete .aa-hint {
        width: 100%;
    }

    .algolia-autocomplete .aa-hint {
        color: #999;
    }

    .algolia-autocomplete .aa-dropdown-menu {

        width: 100%;
        background-color: #fff;
        border-top: none;
        box-shadow: 1px 1px 16px 2px #AFAEB2;
        border-radius: 4px;
        overflow: hidden;
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .algolia-autocomplete .aa-suggestion {
        cursor: pointer;
        border: solid #EDECEF;
        padding: 0 0 12px 0;
        border-width: 0 0 1px 0;
    }

    .algolia-autocomplete .aa-suggestion.aa-cursor {
        box-shadow: inset 3px 0 0 #5B6CC3;
        background-color: #F4F6F8;
    }

    .algolia-autocomplete .aa-suggestion em {
        font-weight: bold;
        font-style: normal;
    }

    .algolia-autocomplete .title {
        padding: 12px 16px 0 16px;
    }

    .algolia-autocomplete .description {
        padding: 4px 16px 0 16px;
        font-size: 80%;
        margin: 0;
        color: #637381;
    }

    .algolia-autocomplete .category {
        padding: 4px 16px;
        font-size: 0.8em;
        letter-spacing: 1.5px;
        font-weight: bold;
        text-transform: uppercase;
        border: solid #EDECEF;
        border-width: 0 0 1px 0;
        background: #F4F6F8;
    }

    .algolia-autocomplete .header {
        padding: 12px 16px;
        color: #637381;
        border: solid #EDECEF;
        border-width: 0 0 1px 0;
        font-size: 0.85em;
    }
</style>

<script>
var client = algoliasearch('8UWZ851DVO', 'f066c0a7bb46830362080490d0bb8c30');
var index = client.initIndex('default');
var catSeq = '';
var url = "";

autocomplete('.search-input', { hint: false }, [
{
  source: function (q, cb) {
    catSeq = '';
    var defaultHits = autocomplete.sources.hits(index, {
    hitsPerPage: 10
  });
  defaultHits(q, cb);
  },
  displayKey: 'title',
  templates: {
    header: '<div class="header">Press <b>enter</b> to select – <b>↑↓</b> to navigate – <b>esc</b> to dismiss</div>',
    suggestion: function (suggestion) {
        var tplSuggestion = '';
        url = suggestion.url;
        if (catSeq !== suggestion.section) {
            catSeq = suggestion.section;
            tplSuggestion += '<div class="category">';
            tplSuggestion += suggestion.section;
            tplSuggestion += '</div>';
        };
        tplSuggestion += '<div class="title"><a style="text-decoration: none;" href="';
        tplSuggestion += suggestion.url;
        tplSuggestion += '">';
        tplSuggestion += suggestion._highlightResult.title.value;
        tplSuggestion += '</a></div>';
        if (suggestion.summary !== "") {
            tplSuggestion += '<p class="description">';
            tplSuggestion += suggestion._snippetResult.summary.value;
            tplSuggestion += '&hellip;</p>'
        } else if (suggestion.excerpt !== null)
        {
            tplSuggestion += '<p class="description">';
            tplSuggestion += suggestion._snippetResult.excerpt.value;
            tplSuggestion += '&hellip;</p>'
        }
        return tplSuggestion;
    }
  },
},
]).on('autocomplete:selected', function(event) {
      window.open(url,"_self")
  });

</script>