{{ $section := .section }}

{{ $align_x := $section.align | default "center" }}
{{ $padding_top := $section.padding_top | default "medium" }}
{{ $padding_bottom := $section.padding_bottom | default "medium" }}

{{ $bg_color := $section.background_color | default "none" }}
{{ $bg_img_opacity_pct := $section.background_image_opacity | default 100 }}
{{ $bg_img_opacity := mul (int $bg_img_opacity_pct) 0.01 }}
{{ $bg_img_size := $section.background_image_size | default "cover" }}
{{ $bg_img_position := $section.background_image_position | default "center center" }}
{{ $bg_img_repeat := $section.background_image_repeat | default "no-repeat" }}

<section class="section events-feed{{ if $section.has_border }} has-border{{ end }}{{ if $section.background_image }} has-cover{{ end }}{{ if eq $bg_color "none" }} bg-none{{ end }}{{ if eq $bg_color "primary" }} bg-primary{{ end }}{{ if eq $bg_color "secondary" }} bg-secondary{{ end }}{{ if eq $padding_top "small" }} pt-4{{ end }}{{ if or (eq $padding_top "medium") (eq $padding_top "large") }} pt-6{{ end }}{{ if eq $padding_top "large" }} pt-md-7{{ end }}{{ if eq $padding_bottom "small" }} pb-4{{ end }}{{ if or (eq $padding_bottom "medium") (eq $padding_bottom "large") }} pb-6{{ end }}{{ if eq $padding_bottom "large" }} pb-md-7{{ end }}">

	{{ if $section.background_image }}
	<div class="cover-img" style="background-image: url('{{ $section.background_image | relURL }}'); opacity: {{ $bg_img_opacity }}; background-size: {{ $bg_img_size }}; background-repeat: {{ $bg_img_repeat }}; background-position: {{ $bg_img_position }}"></div>
	{{ end }}

	{{ if or $section.title $section.subtitle }}
	<div class="container container--medium mb-5{{ if eq $align_x "center" }} text-center{{ end }}{{ if eq $align_x "right" }} text-right{{ end }}">
		{{ if $section.subtitle }}
		<div class="section__subtitle">{{ $section.subtitle }}</div>
		{{ end }}
		{{ if $section.title }}
		<h2 class="section__title mt-0">{{ $section.title }}</h2>
		{{ end }}
	</div>
	{{ end }}

	{{ $posts_all := (.Site.GetPage "section" "/events").Pages }}
	{{ $posts_sorted := $posts_all.ByDate.Reverse }}
	{{ $recent_count := $section.recent_count }}
	{{ $post_count := 0 }}
	{{ $tgl := slice }}

	{{ if $section.show_date}}
	{{ range $event := $posts_sorted }}
	  {{ if in $tgl ( $event.Date | dateFormat "January, 2006" ) }}
	  {{ else }} 
		  {{ $tgl = $tgl | append ( $event.Date | dateFormat "January, 2006" )}}

		  <div class="item__meta text-center">
		  	<i class="fas fa-calendar-alt fa-xs"></i>
		  	<span class="item__date"><time datetime="{{ $event.Date }}">{{ $event.Date | dateFormat "January, 2006" }}</time></span>
		  </div>
		  
		  <div class="container pt-1" container-grid>
		  	<div class="grid">
		  		{{ range $item := $posts_sorted }}
		  		{{ if eq ($item.Date | dateFormat "January, 2006") ($event.Date | dateFormat "January, 2006")}}
		  		{{ $include_dict := dict "events_feed_section" $section "post_page" $item}}
		  		{{ partial "events_feed_item.html" $include_dict }}
		  		{{ end }}
		  		{{ end }}
		  	</div>
		  	<br /> <br />
		  </div>
	  {{ end }}
	{{ end }}
	{{ else }}
	<div class="container" container-grid>
		<div class="grid">
		{{ range $post := $posts_sorted }}
				{{ if lt $post_count $recent_count }}
				{{ $post_count = add $post_count 1 }}
				{{ $include_dict := dict "events_feed_section" $section "post_page" $post }}
				{{ partial "events_feed_item.html" $include_dict }}
				{{ end }}
		{{ end }}
		</div>
	</div>
	{{ end }}

	{{ if $section.actions }}
	<div class="container container--medium mt-4">
		<div class="section__actions btn-group{{ if eq $align_x "center" }} justify-center{{ end }}{{ if eq $align_x "right" }} justify-end{{ end }}">
			{{ $include_dict := dict "actions" $section.actions }}
			{{ partial "section_actions.html" $include_dict }}
		</div>
	</div>
	{{ end }}

<script>
	var element = document.querySelectorAll('[container-grid]');

	function myFunction(x) {
		if (x.matches) { // If media query matches
			for (i = 0; i < element.length; i++) { element[i].classList.add("container--medium"); }
			
		} else {
			for (i = 0; i < element.length; i++) { element[i].classList.remove("container--medium"); };
		}
	}
	var x = window.matchMedia("(max-width: 800px)");
	myFunction(x);
	x.addListener(myFunction);
</script>
</section>
