{{ $section := .section }}
{{ $padding_top := $section.padding_top | default "medium" }}
{{ $padding_bottom := $section.padding_bottom | default "medium" }}
{{ $align_x := $section.align | default "center" }}
{{ $feature_padding_y := $section.feature_padding_vert | default "medium" }}

<section class="section {{ if $section.has_border }} has-border{{ end }}{{ if eq $padding_top "small" }} pt-4{{ end }}{{ if or (eq $padding_top "medium") (eq $padding_top "large") }} pt-6{{ end }}{{ if eq $padding_top "large" }} pt-md-7{{ end }}{{ if eq $padding_bottom "small" }} pb-4{{ end }}{{ if or (eq $padding_bottom "medium") (eq $padding_bottom "large") }} pb-6{{ end }}{{ if eq $padding_bottom "large" }} pb-md-7{{ end }}">
	<div class="container container--medium{{ if or (eq $feature_padding_y "small") (eq $feature_padding_y "medium") }} mb-5{{ end }}{{ if eq $feature_padding_y "large" }} mb-4{{ end }}{{ if eq $align_x "center" }} text-center{{ end }}{{ if eq $align_x "right" }} text-right{{ end }}">
		{{ if $section.title }}
		<h1 class="section__title">{{if $section.link}}<a href="{{$section.link}}" class="link">{{end}}{{ $section.title }}{{if $section.link}}</a>{{end}}</h1>
		{{ end }}

		{{ if $section.subtitle }}
		<div class="section__subtitle">{{ $section.subtitle }}</div>
		{{ end }}

		{{ if and $section.show_date $section.date}}
		<div class="item__meta">
			<i class="fas fa-calendar-alt fa-xs"></i>
			<span class="item__date"><time datetime="{{ $section.date }}">{{ $section.date | dateFormat "January 2, 2006" }}</time></span>
		</div>
		{{ end }}
	</div>

	{{ if $section.gallery }}
	<div class="container">
		<div class="masonry">
			{{ range $item := $section.gallery }}
			<div class="grid">
				<!--<img {{if $section.img_alt}}data-alt="{{$section.img_alt}}"{{end}} data-src=" {{ . | relURL }}" class="card--highlight">-->
				<a data-fancybox="{{$section.id}}" href="{{ . | relURL }}" {{ if $section.caption }}data-caption="{{ $section.caption }}" {{ end }}><img {{if $section.img_alt}}data-alt="{{$section.img_alt}}"{{end}} data-src="{{ . | relURL }}" class="highlight lazy" ></a>
			</div>
			{{ end }}
	{{ end }}
	{{ if $section.single_image }}
			{{ range $item := $section.single_image }}
			<div class="grid">
				<a data-fancybox="{{ $section.id }}" href="{{ if $item.use_link}}{{ $item.url | relURL }}{{else}}{{ $item.image | relURL }}{{end}}" {{ if $item.caption }}data-caption="{{ $item.caption }}" {{ end }}><img {{if $item.img_alt}}data-alt="{{$item.img_alt}}" {{end}} data-src="{{ if $item.use_link}}{{ $item.url | relURL }}{{else}}{{ $item.image | relURL }}{{end}}" class="highlight lazy"></a>
			</div>
			{{ end }}
		</div>
	</div>
	{{ end }}

	<script src="/js/lazyload.js"></script>
</section>